<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.custodian">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Custodian">
        <activity android:name=".PointAccumulationActivity"></activity>
        <activity android:name=".IndigenousQuestionsActivity" />
        <activity android:name=".VideoPostActivity" />
        <activity android:name=".ImagePostActivity" />
        <activity android:name=".TextPostActivity" />
        <activity android:name=".RedemptionCodeActivity" />
        <activity android:name=".RewardInfoActivity" />
        <activity android:name=".RedirectActivity" />
        <activity android:name=".NewPostActivity" />
        <activity android:name=".RewardsActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>